@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 60%;
  margin: 40px auto;
  padding: 20px;
}

.peep-input {
  padding: 10px 16px;
  zoom: 2;
}

.peep-input h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.peep-input a{
  text-decoration: none;
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
}
.peep-btn {
  margin-left: 10px;
}